.contact-us {
    margin: 1.6rem 0 0;
}

.contact-heading h1 {
    padding: 25px 0;
    text-transform: uppercase;
    font-family: impact;
    color: white;
}

.contact-details .info {
    display: flex;
    margin-bottom: 30px;
}

.contact-details .info .icon {
    font-size: 26px;
    color: #03b3fe;
    margin: 0 10px;
    position: relative;
    top: -4px;
}

.contact-details .info .content h3 {
    color: #03b3fe;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-details .info .content .links {
    text-decoration: none;
    color: whitesmoke;
    transition: all ease 0.2s;
    font-weight: 700;
    font-size: 17px;
    }

.contact-details .info .content .links:hover {
    text-decoration: underline;
}

.contact-links {
    display: grid;
    grid-template-columns: auto auto auto;
}

.form input[type='text'],
.form input[type='email'],
.form textarea {
    background: transparent;
    border-radius: 7px;
    border: solid 1px #fff;
    color: #03b3fe;
}

input[type="text"]:focus,
input[type="email"]:focus{
    border-color: #03b3fe;
    color: #03b3fe;
    outline-color: #03b3fe;
    box-shadow: -1px -1px 15px #03b3fe;
    transition: .1s;
    transition-property: box-shadow;
}

.textarea textarea {
    margin: 20px 0 0 0;
    resize: none;
}

.textarea textarea:focus {
    background-color: transparent;
    color: #03b3fe;
    color: #03b3fe;
    outline-color: #03b3fe;
    box-shadow: -1px -1px 15px #03b3fe;
    transition: .1s;
    transition-property: box-shadow;
}

.successMessage,
.errorMessage {
    padding-top: 8px;
}

.successMessage p {
    color: #03b3fe;
    font-weight: bold;
    font-family: sans-serif;
}

.errorMessage p {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}

.submit {
    display: flex;
    margin: 1rem 0 0;
    text-align: center;
    justify-content: center;
}

.submit button {
    font-family: inherit;
    font-size: 15px;
    background: #0285be;
    color: white;
    padding: 0.6em 1.5em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.submit button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.submit button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submit button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submit button:hover span {
    transform: translateX(5em);
}

.submit button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

@media (max-width : 768px) {
    .contact-links {
        display: grid;
        grid-template-columns: auto;
    }
    .contact-heading h1 {
        padding: 25px 40px 20px;
        font-size: 35px;
        text-transform: uppercase;
        font-family: impact;
    }

    .contact-form .form {
        display: grid;
        grid-template-columns: auto auto;
    }

    textarea {
    columns: 20;
    }

    .form {
        margin: 0;
    }

    .contact-details {
        margin: 5rem 0 0 ;
    }

    .form-details {
        padding-bottom: 20px;
    }
}