.services-head {
    text-align:  center;
    margin: 25px 0 0;
  }
  
.services-head h1 {
    display: inline-block;
    border: solid 1px #03b3fe;
    text-align: center;
    padding: 12px 35px;
    color: #03b3fe;
    font-family: impact;
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: 0 0 30px 1px #03b3fe;
}

.services-head .span {
    font-size: 25px;
    font-family: sans-serif;
    color: white;
}

.service-container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}

.service-container .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e2e;
    width: 300px;
    height: 350px;
    color : var(--clr)
}

.service-container .box::before {
    content: '';
    position: absolute;
    inset: -10px 50px;
    border-top: solid 4px var(--clr);
    border-bottom: solid 4px var(--clr);
    z-index: -1;
    transform: skewY(15deg);
    transition: 0.5s ease-in-out;
}

.service-container .box:hover::before {
    transform: skewY(0deg);
    inset: -10px 40px;
}

.service-container .box::after {
    content: '';
    position: absolute;
    inset: 60px -10px;
    border-left: solid 4px var(--clr);
    border-right: solid 4px var(--clr);
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
}

.service-container .box:hover::after {
    transform: skew(0deg);
    inset: 40px -10px;
}

.service-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.service-container .box .content .icon {
    color: var(--clr);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    font-size: 2.5rem;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.service-container .box:hover .content .icon {
    background: var(--clr);
    color: #2e2e2e;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 300px var(--clr);
}

.service-container .box .content .text h3 {
    font-size: 1.5rem;
    color: #fff;
    font-family: impact;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.service-container .box:hover .content .text h3 {
    color: #2e2e2e;
}

.service-container .box .content .text p {
    color: #777;
    transition: 0.5s ease-in-out;
}

.service-container .box:hover .content .text p{
    color: #2e2e2e;
}

.service-container .box .content .text .readmore {
    position: relative;
    text-decoration: none;
    background: var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    font-weight: 700;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

.service-container .box:hover .content .text .readmore {
    background-color: #2e2e2e;
    color: var(--clr);
}

@media (max-width:768px) {
    .services-head {
        margin: 8rem 20px 25px;
    }
    .services-head h1 {
        font-size: 35px;
    }
    .services-head .span {
        font-size: 20px;
    }
}