* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./img/new-bg.jpg") no-repeat;
    background-size: cover;
}

  @media(max-width: 320px) {
    body {
      background-size: auto;
      height: 100%;
    }
  }
  
  /* For medium devices */
  @media (max-width: 768px) {
    body {
      background-size: auto;
      height: 100%;
    }
  }